<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      html{
        
      }
      body{
        
      }



    </style>
  </head>
  <body>
    <div class = "nav">
      <span>Kap button</span>
      <span>Updates Button</span>
    </div>
    <div class = "main">
      <div> 
        <div>TExt on left</div>
        <div>Button to Download</div>
      </div>    
      <div>Text on right</div>
      <div>Full Height Image</div>
    </div>
    <footer>
      <div>ORG Button</div>
      <div>
        <span>More links</span><span>More links</span>
      </div>
    </footer>
    <script type = "text/javascript" src = "views/javascript/dat.js"></script>
  </body>
</html>
