<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      html{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background-color: red;
      }
      body{
        height: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        background-color: gray;
        display: flex;
        align-content: stretch;
      }



    </style>
  </head>
  <body>    
  </body>
</html>
