*{box-sizing: border-box;}
a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Helvetica";
  font-weight: bold;
}
html{
  font-family: "Segoe UI";
  height: 100%;
  margin: 0;
}
body{
  margin: 0;
}

[class*="col-"]{
  float: left;
  padding: 0.1px;  
  width: 100%;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.menubar{
  background-color: indigo;
  padding: 1%;
  display: flex;
  margin-bottom: 1%;  
}
.menubar__buttons{
  flex-grow: 2;  
}

.comment{
  background-color: white;  
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 1px 1px 5px #AAA;  
}

.comment__details{    
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Segoe UI';
  color: #90949c;
  font-size: 12px;  
  display: flex;
}

.comment__details__picture{
  background-color: lavender;  
  flex-shrink: 1;
  margin-right: 2%;  
  max-width: 50%; 
}


.comment__details__text{  
  flex-shrink: 2;
}
.comment__details__text__title{
  color: indigo;
  font-weight: bold;
}
.comment__details__text__date{  
}



.comment__main{   
  padding-top: 2%;
  padding-bottom: 2%;  
  font-size: 13px;
  font-family: "Arial";
  
}
.comment__main__picture{
  background-color: indigo;
  width: 100%;
  color: white;
  padding: 50% 0%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.comment__main__text{
  
}

.comment__actions{  
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 0.5px solid rgba(0,0,0,0.3);
  font-family: 'Segoe UI';
  font-size: 13px;
  font-weight: bold;
}

.skillcard{
  display: none;
}
.profilecard{
  display: none;
}

.footerpage{  
  display: none;
  position: fixed;
  bottom: 0%;
  width: 25%
}







@media only screen and (max-width: 500px){
  body{
    background-color: green;
  }
  
}

@media only screen and (min-width: 600px){
  .col-m-1{width: 8.33%;}
  .col-m-2{width: 16.66%;}
  .col-m-3{width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .footerpage {
    display: block;
  }
  .profilecard{
    display: block;
  }
  .skillcard{
    display: block;
  }
}

@media only screen and (min-width: 768px){
  body{
    background-color: purple;
  }
  .col-1{width: 8.33%;}
  .col-2{width: 16.66%;}
  .col-3{
    width: 25%;
    /*background-color:blue;    */
  }
  .col-4 {
    width: 33.33%;    
  }
  .col-5 {width: 41.66%;}
  .col-6 {
    width: 50%;
    /*background-color: red;*/
  }
  .col-7 {width: 58.33%;}
  .col-8 {
    /*The footer text*/
    width: 66.66%;
    background-color: pink;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (orientation: portrait){
  body {
    background-color: lavender;
  }  
}
